.modal-calendar {
	text-align: center;
	font-size: 5em;
}

.text-padding {
	padding : 5px 10px;
}

.modal-calendar-green, .text-bg-green {
	background-color: #baffc9;
}

.modal-calendar-yellow, .text-bg-yellow {
	background-color: #ffffba;
}

.modal-calendar-orange, .text-bg-orange {
	background-color: #ffdfba;
}

.modal-calendar-red, .text-bg-red {
	background-color: #ffb3ba;
}

.table-title {
	border-top: 2px solid darkgrey !important;
	height: 60px;
	line-height: 60px !important;
	text-transform: uppercase;
	text-align: center;
}

.bg-grey {
	background-color: #dfdfdf;
}

#sliderImportance {
	width : 100% !important;
}

.label-faded {
	background-color: #bbb !important;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }