.modal-calendar {
	text-align: center;
	font-size: 5em;
}

.modal-calendar-green, .text-bg-green {
	background-color: #baffc9;
}

.modal-calendar-yellow, .text-bg-yellow {
	background-color: #ffffba;
}

.modal-calendar-orange, .text-bg-orange {
	background-color: #ffdfba;
}

.modal-calendar-red, .text-bg-red {
	background-color: #ffb3ba;
}

.table-title {
	border-top: 2px solid darkgrey !important;
	height: 60px;
	line-height: 60px !important;
	text-transform: uppercase;
	text-align: center;
}

.bg-grey {
	background-color: #dfdfdf;
}

#sliderImportance {
	width : 100% !important;
}